@import "tailwindcss";

@theme {
  /* Reset tất cả breakpoints mặc định */
  --breakpoint-*: initial;
  
  /* Light theme colors (default) */
  --color-background: #fafafa;
  --color-background2: #2C2C2C;
  --color-background3: #ffffff;
  --color-active: #C3CC5A;
  --color-line: #F0F0F0;
  --color-primary: #F8F8F8;
  --color-main: #F5F5F5;
  --color-text: #000000;
  --color-text-secondary: #666666;
}
 

/* Desktop-first: định nghĩa breakpoints với max-width */
@custom-variant xl (@media (max-width: 1280px));
@custom-variant lg (@media (max-width: 1024px));
@custom-variant md (@media (max-width: 768px));
@custom-variant sm (@media (max-width: 640px));


@layer base {
  * {
    color: var(--color-text);

    @apply md:text-sm md:text-[13px];
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
  } 

  input {
    @apply text-base;
  }
  
  *:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  } 
  .container {
    @apply mx-auto px-4 max-w-[1200px];
  }

  .container-fluid {
    @apply w-full px-4;
  }

  html,
  body {
    @apply w-full h-full relative bg-background;
  }

      
  .logo {
    @apply text-xl font-bold;
  } 

  .main-content {
    width: calc(100% - 344px);
    @apply md:w-full;
  }

  .nav-content {
    @apply relative bg-background3 rounded-2xl overflow-hidden p-4 py-8 w-[320px] md:w-full border border-line;
  }
}


@import "./component/index.css";
