@import "tailwindcss";

@theme {
  /* Reset tất cả breakpoints mặc định */
  --breakpoint-*: initial;
  --color-background: #303030;
  --color-background2: #2C2C2C;
  --color-background3: #222222;
  --color-active: #C3CC5A;
 
}

/* Desktop-first: định nghĩa breakpoints với max-width */
@custom-variant xl (@media (max-width: 1280px));
@custom-variant lg (@media (max-width: 1024px));
@custom-variant md (@media (max-width: 768px));
@custom-variant sm (@media (max-width: 640px));


@layer base {
  * {
    @apply text-white;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
  } 
  
  *:focus-visible {
    outline: none !important;
    box-shadow: none !important;
  }

  .container {
    @apply mx-auto px-4 max-w-[1200px];
  }

  .container-fluid {
    @apply w-full px-4;
  }

  body {
    @apply w-full h-full relative bg-background;
  }

      
  .logo {
    @apply text-xl font-bold;
  } 

  .main-content {
    width: calc(100% - 360px);
  }

  .nav-content {
    @apply bg-background3 rounded-2xl overflow-hidden px-4 py-8 w-[320px];
  }
}


@import "./component/index.css";
@import "./animation.css";