.loading {
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.loader,
.loader:after {
  width: 20px;
  height: 20px;
}

@keyframes spin_around {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.loading-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  margin: 0 auto;
  border-radius: 50%;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 2px solid rgba(199, 197, 197, 0);
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  -webkit-animation: spin_around 0.8s infinite linear;
  animation: spin_around 0.8s infinite linear;
  color: #666666;
}
 