.header {
    @apply h-[64px];

    .header-inner {
        @apply h-[64px];
        @apply transition-transform duration-300 ease-in-out z-20 bg-background3;
        @apply fixed top-0 w-full;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.03);
        -webkit-backdrop-filter: saturate(180%) blur(8px);
        backdrop-filter: saturate(180%) blur(8px);
    }

    .header-menu{
        @apply flex gap-6 items-center;
    }

    .header-right {
        @apply flex items-center gap-6 p-6;

        >button {
            @apply relative;
        }
    } 
}