.header {
    @apply h-[72px];
    @apply transition-transform duration-300 ease-in-out z-20;
    @apply fixed top-0 w-full text-white;
    

    
    .logo {
        @apply text-xl font-bold text-white;
    } 

    .header-menu{
        @apply flex gap-6 items-center;
    }

    .header-right {
        @apply flex items-center gap-6 p-6;

        >button {
            @apply relative;
        }
    }

    &.header--blur {
        background: rgba(255, 255, 255, 0.85);
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.03);
        -webkit-backdrop-filter: saturate(180%) blur(8px);
        backdrop-filter: saturate(180%) blur(8px);
        @apply text-black;
    }
}