.header {
    @apply h-[64px];

    .header-inner {
        @apply h-[64px];
        @apply transition-transform duration-300 ease-in-out z-20 bg-background3;
        @apply fixed top-0 w-full;
        box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.03);
        -webkit-backdrop-filter: saturate(180%) blur(8px);
        backdrop-filter: saturate(180%) blur(8px);
    }

    .header-menu{
        @apply flex gap-6 items-center;
    }

    .header-right {
        @apply flex items-center gap-6 py-6 pl-6;

        >button {
            @apply relative;
        }
    } 
}

.user-component {
    @apply relative w-14 flex justify-end;

    .user-component--title {
        @apply text-sm font-bold uppercase overflow-hidden text-ellipsis relative max-w-full; 
        -webkit-box-orient: vertical;
        display: -webkit-box; 
        -webkit-line-clamp: 1;
    }

    .user-component--dropdown {
        @apply absolute mt-7 right-0 w-64 bg-white border border-line rounded-2xl z-50;
    }

    .user-component--email {
        @apply text-xs text-zinc-600 dark:text-zinc-400 mt-1 overflow-hidden text-ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box; 
        -webkit-line-clamp: 1;
    }
}