.matches {
    @apply relative rounded-xl border border-[#171717] bg-background2 shadow-md overflow-hidden;

    .matches-title {
        @apply p-4 font-bold bg-black flex items-center text-white text-sm;

        .matches-title--icon {
            @apply w-5 h-5 mr-3;
        }
    }

    .matches-items {
        @apply px-4 font-bold flex items-center justify-between gap-3 h-14 hover:text-active;
      
        &:nth-child(even) {
            @apply bg-[#171717];
        }

        .matches-items--details {
            @apply flex justify-center items-center w-full cursor-pointer;
            .right,
            .left {
                @apply flex items-center gap-3;
                width: calc(50% - 60px);
            } 
        }

        &:hover {
            background-color: #C3CC5A80 !important;
        }
    }
}

.top-matches {
    @apply relative rounded-lg bg-white overflow-hidden p-4;
}

.rankings {
    @apply relative rounded-xl border border-[#171717] bg-background2 shadow-md overflow-hidden;

    .rankings-title {
        @apply p-4 font-bold bg-black flex items-center text-white text-sm;

        .rankings-title--icon {
            @apply w-5 h-5 mr-3;
        }
    }

    .matches-table {
        @apply w-full table-fixed;
        tr td {
            @apply p-4;
        }

        tr {
            @apply cursor-pointer;
            &:hover {
                background-color: #C3CC5A80 !important;
            }

            &:nth-child(even) {
                @apply bg-[#171717];
            }
        }
    }
}