.matches {
    @apply relative rounded-xl border border-line overflow-hidden;

    .matches-title {
        @apply p-4 font-bold bg-gray-200 flex items-center text-sm;

        .matches-title--icon {
            @apply w-5 h-5 mr-3;
        }
    }
    

    .matches-items {
        @apply px-4 font-bold flex items-center justify-between gap-3 h-14 hover:text-line border-t border-line hover:bg-line;
      
        &:nth-child(even) {
            @apply bg-primary hover:bg-line;
        }

        .matches-items--details {
            @apply flex justify-center items-center w-full cursor-pointer;
            .right,
            .left {
                @apply flex items-center gap-3;
                width: 50%;
            } 
        } 
    }
}

.top-matches {
    @apply relative rounded-lg bg-white overflow-hidden p-4;
}

.rankings {
    @apply relative rounded-xl border border-line overflow-hidden overflow-x-auto;

    .rankings-title {
        @apply p-4 font-bold bg-gray-200 flex items-center text-sm;

        .rankings-title--icon {
            @apply w-5 h-5 mr-3;
        }
    }

    .matches-table {
        @apply w-full table-fixed md:min-w-[800px];
        tr td {
            @apply p-4;
        }

        tr {
            @apply cursor-pointer hover:bg-line; 

            &:nth-child(even) {
                @apply bg-primary;
            }
        }
    }
}