.page-title {
    @apply h-[280px] flex relative rounded-2xl overflow-hidden mb-5;

    .overlay {
        @apply absolute inset-0 bg-black opacity-10 z-10 pointer-events-none;
    }

    .slide-item--title {
        @apply relative text-white text-2xl uppercase font-bold mb-4 md:text-xl; 
    }
    
    .slide-item--sub-title {
        @apply text-white text-base mb-6;
    }

    .slide-item--content {
        @apply absolute text-left max-w-7xl z-10 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 pr-[150px] md:px-4;
        @apply md:left-0 md:-translate-x-0;
    }

    .slide-item--backgroup {
        @apply w-full opacity-90 relative h-[280px];
        img {
            @apply h-full object-cover;
        }
        &::before {
            @apply absolute inset-0 bg-black opacity-50;
            content: "";
            z-index: 5;
        }
    }

    /* animation slider */
    .slide-item--title,
    .slide-item--sub-title, 
    .slide-item--action {
        transform: translateY(50px);
        opacity: 0;
    } 

    .swiper-slide-active .slide-item--title,
    .swiper-slide-active .slide-item--sub-title,
    .swiper-slide-active .slide-item--action {
        opacity           : 1;
        visibility        : visible;
        -webkit-transition: transform 600ms ease, opacity 600ms ease;
        -moz-transition   : transform 600ms ease, opacity 600ms ease;
        -ms-transition    : transform 600ms ease, opacity 600ms ease;
        -o-transition     : transform 600ms ease, opacity 600ms ease;
        transition        : transform 600ms ease, opacity 600ms ease;
        transition-delay  : 1000ms;
    } 

    .swiper-slide-active .slide-item--title,
    .swiper-slide-active .slide-item--sub-title,
    .swiper-slide-active .slide-item--action {
        transform: translateY(0px);
    } 
    .swiper-slide-active .slide-item--title {
        transition-delay: 400ms;
    }

    .swiper-slide-active .slide-item--sub-title {
        transition-delay: 500ms;
    }

    .swiper-slide-active .slide-item--action {
        transition-delay: 600ms;
    }

    .swiper-slide {
        opacity: 0 !important;
        transition: opacity 1s ease-in-out !important;
    }

    .swiper-slide-active {
        opacity: 1 !important;
    }
}