::-webkit-scrollbar {
  @apply w-1.5 md:h-0.5;
}

::-webkit-scrollbar-track {
  @apply bg-[#F8FAFC];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#D4D4D4] rounded-2xl;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#64748B];
}