.tabs {
    @apply w-full;
    .menu-tabs {
        @apply relative flex flex-wrap gap-4;
    }

    .menu-tabs--item {
        @apply relative text-sm transition-colors duration-200 font-bold leading-[2] cursor-pointer;
        &:last-child {
            @apply mr-0;
        }

        &.active {
            /* @apply text-active; */
        }
    }

    .menu-tabs--style-1 {
        .menu-tabs--item {
            @apply border border-line px-4 py-2 rounded-xl overflow-hidden;

            &.active {
                @apply bg-gray-200;
            }
        }
    }

    .menu-tabs--style-2 {
        .menu-tabs--item {
            @apply uppercase;
        }
    }
}